body{
	font-family: arial;
}
#cb{
	/*font-family: Arial;
	font-size: 32pt;
	color: black;*/
	text-align: center;
}
#rp{
	/*font-family: Arial;
	font-size: 32pt;
	color: black;*/
	text-align: center;
}
h2{
	/*font-family: Arial;
	font-size: 20pt;
	color: white;*/
	text-align: justify;
}
div{
	font-size: 15px;
	width: 300x;
	height: 300px;
	padding: 30px;
	margin: 30px;
	margin-left: 30px;
	/*position*/
	top: 150px;
	left: 150px;
	bottom: 0;
	right: 100px;
	position: absolute;/*absolue relative fixed*/
	text-align: justify;
}
nav{
	font-family: arial;
	font-size:10px;
	position: fixed;
}
.destaque{
	background: green;
}